<div class="product-options-container">
  <h2>Product Options</h2>
  <ul class="options-list">
    <li><a routerLink="/products/create">Create New Product</a></li>
    <li><a routerLink="/products/search">Search Product</a></li>
    <li><a routerLink="/products/add-reviews">Add Product Reviews</a></li>
    <li><a routerLink="/products/add-assets">Add Product Assets</a></li>
    <li><a routerLink="/products/product-assets">Product Assets</a></li>
    <li><a routerLink="/products/product-import">Product Import Tool</a></li>
  </ul>
</div>
  